addr-display {
  display: block;
  background-color: black;
  color: rgb(100, 100, 100);

  border-radius: 1em;

  width: min-content;
}

addr-display::part(list) {
  display: grid;
  list-style: none;
  padding: .5em;

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr); */
}

addr-display::part(items) {
  padding-inline: 1ch;
  padding-block: 0.125em;

  font-family: monospace;
}


hex-display[acked] {
  color: white;
}

hex-display[timedout] {
  color: yellow;
}

