excamera-i2cdriver {
  display: flex;
}

excamera-i2cdriver::part(vdexvice-guess-list) {
  display: block;
  list-style: none;
}

excamera-i2cdriver::part(scan-display) {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}


excamera-i2cdriver > li {
  display: none;
}

excamera-i2cdriver > li[data-acked] {
  display: block;
}


addr-display {
  display: block;
  background-color: black;
  color: rgb(100, 100, 100);

  border-radius: 1em;
}

addr-display::part(list) {
  display: grid;
  list-style: none;
  padding: .5em;

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr); */
}

addr-display::part(items) {
  padding-inline: 1ch;
  padding-block: 0.125em;

  font-family: monospace;
}


hex-display[acked] {
  color: white;
}

hex-display[timedout] {
  color: yellow;
}



