excamera-i2cdriver {
  display: flex;
}

excamera-i2cdriver::part(vdexvice-guess-list) {
  display: block;
  list-style: none;
}

excamera-i2cdriver::part(scan-display) {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}


excamera-i2cdriver > li {
  display: none;
}

excamera-i2cdriver > li[data-acked] {
  display: block;
}




