@import url('./css/addr-display.css');
@import url('./css/excamera-i2cdriver.css');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-accent--h: 300;
	--color-accent--s: 30%;
	--color-accent--l: 60%;


	--light-percentage: 20%;
	--lighter-percentage: 30%;

	--dark-percentage: 15%;

	--color-accent--light: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) + var(--light-percentage)));

	--color-accent--lighter: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) + var(--lighter-percentage)));

	--color-accent--dark: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) - var(--dark-percentage)));

	--color-accent--complement: hsl(
		calc(var(--color-accent--h) + 180),
		var(--color-accent--s),
		var(--color-accent--l));

	--color-accent--triad1: hsl(
		calc(var(--color-accent--h) + 120),
		var(--color-accent--s),
		var(--color-accent--l));

	--color-accent--triad2: hsl(
		calc(var(--color-accent--h) + 240),
		var(--color-accent--s),
		var(--color-accent--l));




	--color-accent: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		var(--color-accent--l));
	--color-accent-text: black;

	--color-hover-accent: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) - 20%));
	--color-hover-accent-text: white;



	--color-accent-soft: var(--color-accent--dark, red);
	--color-accent-soft-text: black;

	--color-accent-softer: var(--color-accent--lighter, red);
	--color-accent-softer-text: black;
}

:root {
	--base-accent-background-color: var(--color-accent-soft, red);
	--base-accent-text-color: var(--color-accent-soft-text, red);

	--base-page-background-color: var(--color-accent-softer, red);
	--base-page-text-color: black;


	--nav-background-color: var(--color-accent, red);
	--nav-text-color: var(--color-accent-text, red);
	--nav-hover-background-color: var(--color-hover-accent, red);
	--nav-hover-text-color: var(--color-hover-accent-text, red);

	--nav-button-background-color: transparent;


	--interactive-form-background: var(--color-accent-softer);
	--selected-device-item-background: var(--color-accent-softer);
	--device-item-defualt-background: var(--color-accent-soft);
}

html {
  height: 100vh;
}
body {
  min-height: 100vh;
	height: 100%;
}

body {
	display: grid;

	grid-template-areas:
		"logo nav"
		"aside main";

	grid-template-rows: 5em 1fr;
	grid-template-columns: minmax(300px, 20%) 1fr;

	background-color: var(--base-accent-background-color, red);
	color: var(--color-accent-soft-text, red);
}

nav {
	grid-area: nav;

	display: flex;
	flex-direction: row-reverse;
	width: 100%;

	padding-inline-start: 2ch;

	background-color: var(--nav-background-color, red);
	color: var(--nav-text-color, red);

	text-align: center;
}

h1 {
	grid-area: logo;

	width: 100%;

	justify-self: flex-start;
	display: block;
	background-color: transparent;
	color: black;

	text-align: center;

	line-height: 2.5em;


	background-color: var(--nav-background-color, red);
	/* position: absolute;
	bottom: 0;
	right: 0; */
}

nav > button {
	padding-inline: 4ch;

	border: unset;
	cursor: pointer;

	background-color: var(--nav-button-background-color, red);
	color: var(--nav-text-color, red);
}

nav > button:hover {
	background-color: var(--nav-hover-background-color, red);
	color: var(--nav-hover-text-color, red);
	border-radius: 1em;
}

/* nav > button:last-child::after {
	display: block;
	height: 1em;
	width: 1em;
	background-color: green;
	content: "";
} */

aside {
	grid-area: aside;


	display: flex;
	flex-direction: column;

	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;

	overflow: hidden;
	overflow-y: scroll;

	/* max-height: calc(100vh - 5em); */
}

aside h2 {
	font-size: 2em;
	line-height: 1em;
	padding-block-start: 1em;
	padding-inline-start: 2ch;

	color: var(--color-accent--complement, red);
}

aside ul {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	list-style: none;
	margin-block-start: 1em;
	margin-inline-start: 0.5em;
}

aside ul li {
	background-color: var(--selected-device-item-background, green);
	border-radius: 2em 0 0 2em;
}

aside > ul > li > button {
	display: block;
	cursor: pointer;
	border: none;
	width: 100%;

	height: 4em;
	padding: 0.25em;

	background-color: var(--device-item-defualt-background, red);

}

aside > ul > li > button:hover {
	background-color: blue;
	border-radius: 2em 0 0 2em;
}

aside > ul > li[data-active] {
	border-radius: 2em 0 0 2em;
}

aside > ul > li[data-active] button {
	cursor: initial;
	border-radius: 2em 0 0 2em;
	background-color: var(--selected-device-item-background, red);
}


aside > ul > li[data-active-previous-sibling] > button {
	border-radius: 0 0 2em;
}

aside > ul > li[data-active] + li > button {
	border-radius: 0 2em 0 0;
}

main {
	grid-area: main;
	height: 100%;

	border-radius: 2.5em 2.5em 2.5em 2.5em;
	padding-inline-start: 3em;
	padding-block-start: 2em;

	background-color: var(--interactive-form-background, red);
}

main > section {
	display: none;
	grid-template-areas: "controls custom";
	grid-template-columns: max-content 1fr;
	align-items: start;
	height: 100%;
	width: 100%;
}

main > section[data-active] {
	display: grid;
}

main > section[data-connect] {

}

main > section[data-connect] > button {
	align-content: space-between;
	grid-area: controls;

	padding-inline: 2ch;
	line-height: 2em;
	font-size: 2em;

	margin-block-start: 2em;

	border-radius: 2.5em 2.5em 2.5em 2.5em;

	border: 1px solid purple;
	background-color: rgb(163, 34, 163)
}

